<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/3959346b8a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <section class="logo-barra">
            <div class="img-mercadolibre">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="barra-container">
                <form action="" method="post">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button class="boton-cont"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="titulo-container">
                <h4 class="titulo-compra"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta
                    de credito</h4>
            </div>
        </section>
        <section class="site-login">
            <nav class="navegador-1">
                <ul type="none" class="lista">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="navegador-2">
                <ul type="none" class="lista">
                    <li><a href="./register.html">Creá tu cuenta<i class="fa-sharp fa-solid fa-id-card"></i></a></li>
                    <li><a href="./login.html">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras<i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <h3 class="titulares">Basado en tu última visita</h3>

        <section class="articulos">           

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </div>

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
            </div>

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            </div>

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <h3 class="descripcion">SmartTV Samsung 43"</h3>
            </div>
            </div>
        </section>

        <h3 class="titulares">Ofertas</h3>
        
        <section class="articulos">

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </div>

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
            </div>

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            </div>

            <div class="articulo-principal">
                <div class="img-venta">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Molunex">
                </div>
                <div class="camion">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="precio-descuento">
                    <div class="precio-cont">
                        <h4 class="precios">$6770</h4>
                    </div>
                    <div class="descuento-cont">
                        <h4 class="descuentos">40% OFF</h4>
                    </div>
                </div>
                <h3 class="descripcion">SmartTV Samsung 43"</h3>
            </div>
            </div>

        </section>
    </main>
    <footer>
        <section class="footer-cont">
        <section>
            <div class="icon-footer">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3 class="titulo-footer">Pagá con tarjeta o efectivo</h3>
            <h4 class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h4>
        </section>

        <section>
            <div class="icon-footer">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h3 class="titulo-footer">Envio gratis desde $2500</h3>
            <h4 class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</h4>
        </section>

        <section>
            <div class="icon-footer">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h3 class="titulo-footer">Seguridad, de principio a fin</h3>
            <h4 class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</h4>
        </section>
    </section>
        <section>
            <h3 class="titulofinal-footer">Copyright © 1999-2020 MercadoLiebre S.R.L. </h3>
        </section>
    </footer>
</body>

</html>