<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/stylesregister.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/3959346b8a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <section class="logo-barra">
            <div class="img-mercadolibre">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="barra-container">
                <form action="/register" method="post">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button class="boton-cont"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="titulo-container">
                <h4 class="titulo-compra"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta
                    de credito</h4>
            </div>
        </section>
        <section class="site-login">
            <nav class="navegador-1">
                <ul type="none" class="lista">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="navegador-2">
                <ul type="none" class="lista">
                    <li><a href="">Creá tu cuenta<i class="fa-sharp fa-solid fa-id-card"></i></a></li>
                    <li><a href="">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras<i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section class="formulario-cont">
            <form class="formulario" action="" method="post">
                <div class="items-form">
                    <input class="barras-form" type="text" name="nombre" placeholder="Nombre y apellido" required>
                </div>
                <div class="items-form">
                    <input class="barras-form" type="text" name="usuario" placeholder="Nombre de usuario" required>
                </div>
                <h3 class="titulos-form">Fecha de nacimiento</h3>
                <div class="items-form">
                    <input class="barras-form" type="date" name="fecha" id="fecha" max="2005-01-01" required>
                </div>
                <div class="items-form">
                    <input class="barras-form" type="text" name="domicilio" placeholder="Domicilio" required>
                </div>
                <h3 class="titulos-form">Perfil del usuario</h3>
                <div class="items-radio">
                    <div>
                        <input class="radio-check" type="radio" name="perfil" id="perfil"value="Comprador" required>
                        <label for="perfil">Comprador</label>
                    </div>
                    <div>
                        <input class="radio-check" type="radio" name="perfil" id="perfil" value="Vendedor" required>
                        <label for="perfil">Vendedor</label>
                    </div>
                </div>
                <h3 class="titulos-form">Intereses</h3>
                <div class="items-check">
                    <div>
                        <input class="radio-check" type="checkbox" name="intereses" id="intereses" value="Electro">
                        <label for="intereses">Electro</label>
                    </div>
                    <div>
                        <input class="radio-check" type="checkbox" name="intereses" id="intereses" value="Moda">
                        <label for="intereses">Moda</label>
                    </div>
                    <div>
                        <input class="radio-check" type="checkbox" name="intereses" id="intereses" value="Hogar">
                        <label for="intereses">Hogar</label>
                    </div>
                    <div>
                        <input class="radio-check" type="checkbox" name="intereses" id="intereses" value="Juguetería">
                        <label for="intereses">Juguetería</label>
                    </div>
                    <div>
                        <input class="radio-check" type="checkbox" name="intereses" id="intereses" value="Vida sana">
                        <label for="intereses">Vida sana</label>
                    </div>
                </div>
                <h3 class="titulos-foto">Foto de usuario</h3>
                <div class="items-form">
                    <div>
                        <input  type="file" name="img-perfil" accept=".jpg" required>
                    </div>
                </div>
                <div class="items-form">
                    <input class="barras-form" type="password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="items-form">
                    <input class="barras-form" type="password" name="password-rep" placeholder="Confirmar contraseña" required>
                </div>
                <div class="items-button">
                    <div>
                        <button class="button-blue" type="submit">Enviar</button>
                    </div>
                    <div>
                        <button class="button-white" type="reset">Borrar</button>
                    </div>
                </div>
            </form>
        </section>
        <footer>
            <section>
                <div class="icon-footer">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h3 class="titulo-footer">Pagá con tarjeta o efectivo</h3>
                <h4 class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</h4>
            </section>
    
            <section>
                <div class="icon-footer">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h3 class="titulo-footer">Envio gratis desde $2500</h3>
                <h4 class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</h4>
            </section>
    
            <section>
                <div class="icon-footer">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h3 class="titulo-footer">Seguridad, de principio a fin</h3>
                <h4 class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</h4>
            </section>
    
            <section>
                <h3 class="titulofinal-footer">Copyright © 1999-2020 MercadoLiebre S.R.L. </h3>
            </section>
        </footer>
    </main>
</body>

</html>