* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

a {
    text-decoration: none;
}

a:visited {
    color: black
}

/*Header*/
header {
    background-color: #EAC926;
    padding-bottom: 15px;
}

.logo-barra {
    display: flex;
    flex-wrap: wrap;
}

.img-mercadolibre {
    padding-left: 13px;
    width: 50%;
    padding-top: 5%;
}

.barra-container {
    padding-top: 7%;
    width: 50%;
    padding-top: 5%;
    text-align: center;
}

.barra-container input {
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    width: 30vw;
    height: 30px;
    padding-left: 10px;
}

.boton-cont {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 25px;
    height: 30px;
    position: relative;
    right: 3%
}

.fa-magnifying-glass {
    background-color: white;
    color: grey;
    font-size: 15px;
}

.titulo-container {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titulo-compra {
    text-align: center;
}

.site-login {
    padding: 0%;
    display: none;
}

.burger-menu {
    text-align: center;
}

.fa-bars {
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    padding: 10px;
}

/*Fin Header*/

.banner img {
    width: 100%;
}

/*Main*/
main {
    width: 90%;
    margin: auto;
    padding-bottom: 3%;
}

.titulares {
    font-size: 24px;
    color: #666;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

.articulo-principal {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ebebeb;
    background-color: white;
    transition: box-shadow 1000ms;
}

.articulo-principal:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.img-venta img {
    width: 90%;
}

.img-venta {
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}

.camion {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 7%;
    bottom: 5%;
}

.fa-truck {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    transition: rotate() 1000ms;
}

.fa-truck:hover {
    -webkit-transform: rotate(360deg);
    transition: 1s ease;
}

.precio-descuento {
    display: flex;
    padding-left: 7%;
}

.precio-cont {
    width: 30%;
}

.descuento-cont {
    width: 70%;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripcion {
    font-size: 16px;
    color: #666;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    opacity: 0;
    transition: opacity 0.5s
}

.descripcion:hover {
    opacity: 1;
}

/*Fin Main*/

/*Footer*/

footer {
    background-color: white;
    padding-top: 15px;
}

.icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #1259c3;
    padding-top: 7%;
    transition: color 500ms;
}

.icon-footer:hover {
    color: #EAC926;
}

.titulo-footer {
    font-weight: bold;
    text-align: center;
    color: #666;
}

.texto-footer {
    text-align: center;
    color: #666;
    font-weight: normal;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;

}

.titulofinal-footer {
    font-weight: lighter;
    text-align: left;
    color: #666;
    padding-left: 3%;
    padding-top: 7%;
    padding-bottom: 3%;
}


@media (min-width: 361px) {
    /*TABLET*/

    /*Header*/

    .img-mercadolibre {
        padding-top: 3%;
        width: 33%
    }

    .barra-container {
        padding-top: 5%;
        width: 33%;
    }

    .titulo-container {
        padding-top: 4%;
        width: 33%;
    }

    .barra-container input {
        width: 25vw;
    }

    .boton-cont {
        position: relative;
        right: 0%
    }

    .site-login {
        display: flex;
        justify-content: space-between;
        padding-top: 3%;
    }

    .navegador-1,
    .navegador-2 {
        display: block;
    }

    .lista {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        padding: 10px;
    }

    .burger-menu {
        display: none;
    }

    /*Main*/

    .articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .articulo-principal {
        width: 40%;
    }

    .descuentos {
        text-align: center;
    }

    .descripcion {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    /*footer*/

    .icon-footer {
        padding-top: 3%;
    }

    .titulofinal-footer {
        padding-top: 3%;
    }

    /*Fin footer*/
}


@media (min-width: 769px) {
    /*Laptop*/

    /*Header*/
    
    .titulo-container {
        padding-top: 1%;
    }
    /*Main*/

    .articulo-principal {
        width: 20%;
    }

    .descripcion {
        padding-top: 4%;
        padding-bottom: 3%;
    }

    /*footer*/

    .footer-cont {
        display: flex;
    }

    .icon-footer {
        padding-top: 1%;
    }

    .titulofinal-footer {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}