* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black
}

/*Header*/
header {
    background-color: #EAC926;
    padding-bottom: 15px;
}

.logo-barra {
    display: flex;
    flex-wrap: wrap;
}

.img-mercadolibre,
.barra-container {
    width: 50%;
    padding-top: 5%;
}

.img-mercadolibre {
    padding-left: 13px;
}

.barra-container {
    padding-top: 7%;
    text-align: center;
}

.barra-container input {
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    width: 30vw;
    height: 30px;
    padding-left: 10px;
}

.boton-cont {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 25px;
    height: 30px;
    position: relative;
    right: 3%
}

.fa-magnifying-glass {
    background-color: white;
    color: grey;
    font-size: 15px;
}

.titulo-container {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titulo-compra {
    text-align: center;
}

.site-login {
    padding: 0%;
    display: none;
}

.burger-menu {
    text-align: center;
}

.fa-bars {
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    padding: 10px;
}

/*Fin Header*/

/*main*/

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;

}

.formulario-cont {
    width: 100%;
    padding-top: 3%;
    margin-top: 5%;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-radius: 5px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-form {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    text-align: center;
}

.barra-form {
    border-radius: 5px;
    border: none;
    height: 30px;
    padding-left: 10px;
    width: 80%;
}

.button-form {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    text-align: center;
}

.barra-boton {
    background-color:#3483fa;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    transition: background-color 500ms;
}

.barra-boton:hover {
    background-color: #0022AA;
}

/*Main*/

/*Footer*/

footer {
    background-color: white;
    padding-top: 15px;
    width: 100%;
}

.icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #1259c3;
    padding-top: 7%;
    transition: color 500ms;
}

.icon-footer:hover {
    color: #EAC926;
}

.titulo-footer {
    font-weight: bold;
    text-align: center;
    color: #666;
}

.texto-footer {
    text-align: center;
    color: #666;
    font-weight: normal;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;

}

.titulofinal-footer {
    font-weight: lighter;
    text-align: left;
    color: #666;
    padding-left: 3%;
    padding-top: 7%;
    padding-bottom: 3%;
}

/*Fin footer*/


@media (min-width: 361px) {
    /*Tablet*/

    /*Header*/

    .img-mercadolibre {
        padding-top: 3%;
        width: 33%
    }

    .barra-container {
        padding-top: 5%;
        width: 33%;
    }

    .titulo-container {
        padding-top: 4%;
        width: 33%;
    }

    .barra-container input {
        width: 25vw;
    }

    .boton-cont {
        position: relative;
        right: 0%
    }

    .titulo-container {
        padding-top: 5%;
    }

    .site-login {
        display: flex;
        justify-content: space-between;
        padding-top: 3%;
    }

    .navegador-1,
    .navegador-2 {
        display: block;
    }

    .lista {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        padding: 10px;
    }

    .burger-menu {
        display: none;
    }
    /*Fin header*/

    /*main*/
    .formulario-cont {
        max-width: 600px;
    }
    /*Fin main*/

    /*footer*/
    .icon-footer {
        padding-top: 3%;
    }

    .titulofinal-footer {
        padding-top: 3%;
    }
    /*Fin footer*/

}

@media (min-width: 769px) {
    /*Laptop*/

    .titulo-container {
        padding-top: 1%;
    }

        /*footer*/

        .footer-cont {
            display: flex;
        }
        
        .icon-footer {
            padding-top: 1%;
        }
    
        .titulofinal-footer {
            padding-top: 1%;
            padding-bottom: 1%;
        } 
        /*Fin footer*/

    }