* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header {
    background-color: #EAC926;
}
.img-mercadolibre {
    width: 200px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.barra-de-busqueda {
    padding-left: 15px;
    width: 300px;
}

.fa-magnifying-glass {
    background-color: white;
    padding: 2px;
    border: solid 1px black;
    position: relative;
    top: 5px;
    left: 15px;
}
.titulo-compra {
    text-align: center;
}

.ul-li {
    padding: 0%;
}

.burger-menu {
    text-align: center;
}

.fa-bars {
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    padding: 10px;
}
/*Fin Header*/

/*Main*/
main {
    background-color: #EAC926;
}
.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripcion {
    font-size: 16px;
}
/*Fin Main*/

/*Footer*/

footer {
    background-color: white;
}

.i {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #1259c3;
}

.titulo-footer {
    font-weight: bold;
    text-align: center;
    color: #666;
}

.texto-footer {
    text-align: center;
    color: #666;
    font-weight: normal;
}

.titulofinal-footer {
    font-weight: lighter;
    text-align: left;
    color: #666;
}

